.NavBar {
    background-color: #ffecf2;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar nav ul li {
    display: inline-block;
    margin: 60px;
    color: #f78bb6;
    font-weight: bold;
}

.NavBar nav ul li a {
    text-decoration: none;
    font-weight: normal;
    color: #56597a;
}

.NavBar a:hover {
    border-bottom: 5px solid #f78bb6;
}

.NavBar .MobileNavigation {
    display: none;
}

@media (max-width: 990px) {
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNavigation {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        align-items: center;
    }

    .NavBar .MobileNavigation .Hamburger {
        position: fixed;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }

    .NavBar nav ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 55px;
        left: 12px;
        background: #ffecf2;
        border-top: 4px solid #ff616d;
        border-left: 4px solid #ff616d;
        border-right: 4px solid #ff616d;
        border-bottom: 4px solid #ff616d;
        text-align: left;
        width: 60%;
    }

    .NavBar nav ul li {
        padding-left: 1%;
        margin: 30px;
    }

    .NavBar {
        opacity: 1;
    }

    .NavBar a:hover {
        border-bottom: none;
        color: #ff616d;
    }
}
